
.button{
    width: 40%;
    height: 10vh;
    border-radius: 54px;
    background: linear-gradient(232deg, #1E86E5 32.74%, #1EC1E5 95.49%);
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        font-weight: 300;
        color: #fff;
    }
}