.comment_area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-height: 80px;
    border-radius: 100vh;
    background: linear-gradient(262deg, #59d4fa 36.35%, #b1edff 96.4%);

    p {
        font-size: 18px;
    }
    position: relative;
    .comment_good {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &::after {
        content: "";
        width: 32px;
        height: 23px;
        background: url("/assets/comment_arrow.svg") no-repeat top/contain;
        position: absolute;
        top: 86%;
        left: 16%;
    }
}

.mine {
    .comment_good {
        margin-left: 30px;
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 25px;
            height: 25px;
        }
    }
}
