
.empathyLog{
    width: 90%;
    height: 100px;
    margin: 0 auto;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);
    display: flex;
    flex-direction: row;
    &_msg{
        width: 60%;
        height: 100px;
        padding: 25px 20px;
        justify-content: start;
        span{
            font-weight: bold;
        }
    }
}